#ignoring python venv
.venv/
#ignoring vscode settings
.vscode/
#ignoring coverage reports
*coverage
#ignoring pycache
__pycache__/
.pytest_cache/

#ignoring package artifact
*.egg-info/
#ignoring mypy cache
.mypy_cache/
